/* hoja de estilo en cascada
selector{
    propiedad; valor;
}*/
/*
selectorDeClass{
    propiedad: valor;
    propiedad: valor;

selector universal
*{ 
    propiedad:valor;
}   
*/
/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*estilos del body*/
body, main, header{

    background-color: rgb(165, 215, 232);
    
}
main{
    margin-bottom: 50px;

    
}
/*.mainIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/

#boxPadre{
    background-color: rgb(220, 15, 0);
    /*width: 50px; /*medida absoluta mide lo mismo sin importar en que pantalla se vea*/
    /*height: 200px;*/
    /*width: 50%; /*medida relativa, se adapta a la pantalla del padre*/
    /*height: 30vh; funciona solo si el padre tiene asignado un alto sino no
    width: 200px;*/
    width: 300px;
    height: 300px;
    margin: 50px auto;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5%;
}

#boxPadre:hover{
    background-color: blue;
    /*width: 325px;
    height: 325px;*/
    transform: scale(1.1);
    box-shadow: 10px 10px rgb(69, 198, 218);
    
    
    
}

#box{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}
#imagenBox{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
/*estilados del header*/

.contenedorLogo .logo{
    width: 100px;
}

.logo{
    width: 100px !important;
}
ul{
    list-style: none;
}
.listaNavegacion{
    margin: 10px;
}
.linkNavegacion{
    display: inline-block;
    text-decoration: none;
    color: rgb(62, 105, 237);
    font-size: 1.5rem;
}
/*esta clase tiene el color principal de la pagina*/
.colorFondoPrincipal{
    background-color:rgb(6, 52, 101);
}
/*estilados seccion principal del index*/
.seccionPrincipalIndex{

    font-size: 20px;
}
.primerParrafo{
    color: red;
    font-size: 30px;
}
    
/*estilados seccion noticias del index*/
#seccionNoticias{

    height: 40vh;
}

/*regla de padres e hijos*/

/*estilos centrados de texto*/
.textoCentrado{
    text-align: center;
}

/*main de la seccion contacto*/
.imagenFondo{
    height: 70vh;
    background-image: url("../assets/img/Viajes2.jpeg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagenesGaleria{
    width: 500px;
}


a:link{
    background-color: rgb(87, 108, 188);
    color:rgba(0, 0, 0, 0.595)
}
a:active{
    background-color: rgb(251, 255, 0);
    color: rgb(104, 3, 3);
}
a:hover{
    font-weight: bold;
    /*padding: 9px;*/
    background-color: brown;
    color: rgb(0, 0, 0); 
}

h1{
    background-color: blue;
}

/*@media (min-width: 767px){
    #boxPadre{
        display: flex;   
    }

}*/
